@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main: #ecf0f3;
    --red: #ff014f;
    --gray: #e5e5e5;
    --black: #3c3e41;
    --lightmain: #f3f6f7;
    --lightgray: #c4cfde;
}
a{
    text-decoration: none;
    color: black;
}
.whole-bg{
    background-color: var(--main);
}
/* NAVBAR -------------- */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 38px;
    border-bottom: 2px solid var(--gray);
    width: 100vw;
}
.img-nav-bar{
    width: fit-content;
    display: flex;  
    align-items: center;
    gap: 10px;
}
.img-nav-bar img{
    border-radius: 50%;
    background-color: black;
    border: 2px solid gray;
}
.img-nav-bar p{
    text-transform: uppercase;
    font-weight: 600;

}
.nav-items{
    display: flex;
    gap: 2rem;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links p{
    font-size: 14px;
}
.nav-links a{
    transition: all 0.3s;
}
.nav-links a:hover{
    color: var(--red);
}
.icons-navbar{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icons-link a{
    background-color: var(--main);
    margin: 9px;
    padding: 15px 20px;
    border-radius: 50%;
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
}
.icons-link a:hover{
    padding: 17px 20px;
}
.contact-navbar button{
    padding: 17px 19px;
    border-radius: 6px;
    background-color: var(--main);
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    border: none;
    color: var(--red);
    font-weight: medium;
    transition: all 0.3s;
    font-size: 14px;
}
.contact-navbar button:hover{
    transform: translateY(-4px);
    background: linear-gradient(45deg, purple ,var(--red));
    color: white;
}
.hamburger, .cancel-button{
    color: var(--red);
    background-color: var(--main);
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    border-radius: 50%;
    padding: 9px 15px;
    text-align: center;
}
.hamburger{
    display: none;
}
.hide-cancel{
    display: none;
}


@media screen and (max-width:1091px){
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
    }

}
@media screen and (max-width:783px){
    .icons-link , .contact-navbar{
        display: none;
    }
}

/* functional navbar */
.sidebar{
    position: fixed;
    left: -1400px;
    background-color: #f3f6f7;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    z-index: 2;
    width: 400px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    transition: left 0.6s;
}
/* js slide in */
.slide{
    left: 0;
}

.img-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.img-side{
    width: fit-content;
}
.img-side img{
    border-radius: 50%;
    background-color: black;
    border: 2px solid gray;
}
.cancel-sidebar{
    color: var(--red);
    background-color: #f3f6f7;
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    border-radius: 50%;
    padding: 12px 15px;
    text-align: center;
}
.bio-sidebar p{
    max-width: 300px;
    line-height: 1.5;
}
.bio-sidebar{
    border-bottom: 2px solid var(--gray);
    padding-bottom: 1.2rem;
}
.icon-links-sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2rem;
    font-size: 15px;
    margin-bottom: 4rem;
}
.icon-links-sidebar a{
    transition: all 0.3s;
}
.icon-links-sidebar a:hover{
    color: var(--red);
}
.foot-sidebar p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
}
.foot-icons{
    display: flex;
    gap: 2rem;
}
.foot-icons a{
    padding: 1.1rem 1.5rem;
    background-color: f3f6f7;
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    border-radius: 6px;
    transition: all 0.3s;

}
.foot-icons a:hover{
    background: linear-gradient(45deg, purple ,var(--red));
    color: white;
    transform: translateY(-5px);
}
.overlay{
    position: fixed;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    display: none;
}

/* js overlay */
.show-overlay{
    display: block;
}
/* BODY SECTON ----------------------- */
/* hero section */
.hero-section{
    padding-right: 2rem;
    padding-left:  2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 5rem;
}
.first-hero-section{
    padding-top: 6rem;
    margin-bottom: 1.6rem;
}
.first-hero-section b{
    color: var(--red);
}
.first-hero-section p{
    font-size: 3.5rem;
    font-weight: 800;
    font-family: sans-serif;
}
.first-hero-section span{
    font-weight: 700;
}
.first-hero-section p:nth-child(1){
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}
.descriptions{
    margin-bottom: 8rem;
}
.descriptions p{
    max-width: 700px;
    line-height: 1.5;
}
.img-hero{
    padding-right: 3rem;
}
.img-hero img{
    margin-top: -2rem;
}
.skill-contact{
    display: flex;
    gap: 10rem;
}
.skill-contact p{
    margin-bottom: 2.2rem;
}
.skill-contact a{
    padding: 1.1rem 1.5rem;
    background-color: var(--main);
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    border-radius: 6px;
    transition: all 0.3s;
}
.skill-contact a:hover{
    background: linear-gradient(45deg, purple ,var(--red));
    color: white;
    transform: translateY(-5px);
}
.icons-hero p{
    background-color: var(--main);
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    padding: 4px;
    border-radius: 6px;
}
.icons-hero{
    display: flex;
    gap: 1.5rem;
}
.stick-down-to-up{
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    font-weight: 300;
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    padding: 13px 15px;
    border-radius: 50%;
    z-index: 3;
}
.stick-down-to-up a{
    color: var(--red);
}
@media screen and (max-width:508px){
    .sidebar{
        width: 90%;
    }
}
@media screen and (max-width: 1195px){
    .hero-section{
        flex-direction: column;
        flex-direction: column-reverse;
        padding-right: 23px;
        padding-left: 23px;
    }
    .nav-bar{
        padding: 15px 25px;
    }
    .descriptions p{
        max-width: inherit;
    }
    .img-hero{
        text-align: center;

    }
    .img-hero img{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .skill-contact{
        flex-direction: column;
        gap: 4rem;
    }
    .first-hero-section p{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 768px){
    .first-hero-section p{
        font-size: 1.5rem;
    }
}
/* FEATURES */
.features{
    padding-right: 2rem;
    padding-left:  2rem;
    padding-top: 6rem;
}
.first-features{
    margin-bottom: 4rem;
}
.first-features p{
    color: var(--red);
    margin-bottom: 1.2rem;
}
.first-features h1{
    color: var(--black);
    font-size: 4rem;
    font-weight: 600;
    font-family: sans-serif;
}
.grid-features{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.each-feature{
    background-color: var(--main);
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    padding: 3rem;
    padding-top: 3.5rem;
    border-radius: 9px;
    transition: all 0.3s;
}

.svg-feature{
    margin-bottom: 1.5rem;
    color: var(--red);
}
.heading-feature{
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.text-feature{
    line-height: 1.5;
    color: #222222;
}
.each-feature:hover{
    background: linear-gradient(45deg, purple ,var(--red));
    padding-top: 2.5rem;
}
.each-feature:hover .heading-feature{
    color: white;
}
.each-feature:hover .svg-feature{
    color: white;
}
.each-feature:hover .text-feature{
    color: white;
}
.features{
    border-bottom: 2px solid var(--gray);
    padding-bottom: 5rem;
}
@media screen and (max-width:1168px){
    .grid-features{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:792px){
    .grid-features{
        grid-template-columns: auto;
    }
    .features{
        padding-left: 19px;
        padding-right: 19px;
    }
    .each-feature{
        padding: 1.5rem;
        padding-bottom: 2rem;
    }
}
@media screen and (max-width:572px){
    .first-features{
        text-align: center;
    }
    .first-features h1{
        font-size: 45px;
    }
}
/* portfolio */
.portfolio{
    padding-right: 2rem;
    padding-left:  2rem;
    padding-top: 6rem;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 5rem;
}
.grid-portfolio{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.each-portfolio{
    background-color: var(--main);
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    padding: 1.5rem;
    border-radius: 6px;
}
.img-portfolio{
    margin-bottom: 2rem;
}
.img-portfolio img{
    border-radius: 18px;
}
.heading-portfolio{
    text-align: center;
    margin-bottom: 4rem;
}
.heading-portfolio p{
    color: var(--red);
    margin-bottom: 1.5rem;
}
.heading-portfolio h1{
    color: var(--black);
    font-size: 4rem;
    font-weight: 600;
    font-family: sans-serif;
}
.external-link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;
}
.likes{
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.3s;
    cursor: pointer;
}
.likes:hover{
    background-color: var(--lightgray);
}
.external-main{
    font-size: 14px;
    color: var(--red);
}

.portfolio-text p{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
}
.portfolio-text span{
    opacity: 0;
    transition: all 0.3s;
}
.portfolio-text:hover span{
    opacity: 1;
}
.portfolio-text a:hover{
    color: var(--red);
}
.img-portfolio img{
    transition: all 0.3s;
}
.img-portfolio img:hover{
    transform: scale(1.1);
}
.img-portfolio{
    overflow: hidden;
}
@media screen and (max-width:1342px){
    .grid-portfolio{
        grid-template-columns: auto auto;
    }
    .img-portfolio img{
        width: 100%;
    }
}
@media screen and (max-width:1019px){
    .grid-portfolio{
        grid-template-columns: auto;
    }
    .img-portfolio img{
        height: 100%;
    }
    .portfolio{
        padding-left: 19px;
        padding-right: 19px;
    }
}
@media screen and (max-width:768px){
    .heading-portfolio h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:444px){
    .portfolio-text p{
        font-size: 18px;
    }
}

/* testimonials */
.testimonial{
    padding-right: 8rem;
    padding-left:  8rem;
    padding-top: 6rem;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 5rem;
}
.testimony{
    display: flex;
    gap: 30px;
    margin-bottom: 3.5rem;
    position: relative;
}
.img-testimonials{
    width: 35%;
    padding: 1.9rem;
    background: linear-gradient(to right ,var(--main) , var(--lightmain));
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    border-radius: 10px;
    position: relative;
}
.img-in-testimony{
    width: 100%;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.7rem;
    height: 250px;
}
.img-in-testimony img{
    transition: all 0.3s;
    height: fit-content;
    /* margin-top: -30px; */
    overflow: hidden;
}
.img-in-testimony img:hover{
    transform: scale(1.2);
}
.grade{
    font-size: 14px;
    color: var(--red);
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 1.3rem;
}
.name{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0.6rem;
}
.job{
    font-size: 15px;
}
.text-testimonial{
    width: 65%;
    position: relative;
}
.icon-testimonial{
    color: gray;
}
.icon-testimonial :nth-child(2){
    margin-left: -3rem;
}
.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.control-main{
    display: flex;
    gap: 20px;
}
.control-main div{
    background: linear-gradient(to right, var(--main), var(--lightmain));
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    padding: 12px 15px;
    color: var(--red);
    transition: all 0.3s ease-out;
    border-radius: 6px;
}
.control-main div:hover{
    background: linear-gradient(to right, purple, var(--red));
    color: white;
}
.speech-container{
    padding: 3rem 2rem;
    background: linear-gradient(to right, var(--main), var(--lightmain));
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    border-radius: 10px;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 1.5rem;
}
.ratings{
    background: linear-gradient(to right, var(--main), var(--lightmain));
    box-shadow: 3px 3px 16px 0px rgb(216, 213, 213) , -9px -9px 18px 0px white;
    padding: 17px;
    display: flex;
    gap: 3px;
    border-radius: 6px;
}
.ratings i{
    font-size: 10px;
    color: gold;
}
.project-main{
    line-height: 2;
}
.speech{
    padding-top: 2rem;
}
.speech p{
    line-height: 1.5;
    font-size: 18px;
}
.controller{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.controller p{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--lightgray);
}
.one{
    background-color: var(--red);
}
.bridge{
    position: absolute;
    width: 64px;
    height: 6px;
    background-color: var(--lightgray);
    top: 50%;
    left: 32%;
}
@media screen and (max-width:1176px){
    .control , .bridge{
        display: none;
    }
    .testimony{
        flex-direction: column;
    }
    .img-testimonials , .text-testimonial{
        width: 100%;
    }
    .testimonial{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 688px){
    .project{
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }
    .testimonial{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .img-testimonials{
        padding: 1rem;
    }
    .speech-container{
        padding: 1.5rem;
    }
}
@media screen and (max-width:460px){
    .project-main h2{
        font-size: 20px;
    }
}